<div id="nodelist" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/nodelist.less</em>, <em>assets/js/pages/nodelist.page.js</em>, and <em>api/controllers/view-nodelist.js</em>.)</p>
  <node-listz v-bind:nodes="nodes"></node-listz>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
